.wrapper {
  flex: 1;
  position: relative;
  overflow: hidden;
  background: #1e293b;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
  background: #1e293b;
  cursor: default;
}

.svgDesign {
  cursor: crosshair;
}
